<a href="https://colab.research.google.com/github/custom-hyper/Analytics/blob/main/Twitter_Data_Extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Project Setup

In [1]:
#@title Connect to FNS { display-mode: "code" }
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
#@title Install Libraries { display-mode: "code" }
!pip install plotly
!pip install pytrends
!pip install pycoingecko
!pip install pandas
!pip install tweepy
!pip install requests
!pip install pipreqs
!pip install configparser
!pip install psycopg2-binary==2.8.6

Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (5.5.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly) (8.0.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly) (1.15.0)
Requirement already satisfied: pytrends in /usr/local/lib/python3.7/dist-packages (4.8.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pytrends) (4.2.6)
Requirement already satisfied: requests>=2.0 in /usr/local/lib/python3.7/dist-packages (from pytrends) (2.23.0)
Requirement already satisfied: pandas>=0.25 in /usr/local/lib/python3.7/dist-packages (from pytrends) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25->pytrends) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25->pytrends) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25->pytrends) (1.21.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25->pytrends) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0->pytrends) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0->pytrends) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0->pytrends) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0->pytrends) (2021.10.8)
Requirement already satisfied: pycoingecko in /usr/local/lib/python3.7/dist-packages (2.2.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from pycoingecko) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (2.10)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: tweepy in /usr/local/lib/python3.7/dist-packages (3.10.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (1.3.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (1.15.0)
Requirement already satisfied: requests[socks]>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from tweepy) (2.23.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->tweepy) (3.2.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: pipreqs in /usr/local/lib/python3.7/dist-packages (0.4.11)
Requirement already satisfied: yarg in /usr/local/lib/python3.7/dist-packages (from pipreqs) (0.1.9)
Requirement already satisfied: docopt in /usr/local/lib/python3.7/dist-packages (from pipreqs) (0.6.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from yarg->pipreqs) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->yarg->pipreqs) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->yarg->pipreqs) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->yarg->pipreqs) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->yarg->pipreqs) (3.0.4)
Requirement already satisfied: configparser in /usr/local/lib/python3.7/dist-packages (5.2.0)
Requirement already satisfied: psycopg2-binary==2.8.6 in /usr/local/lib/python3.7/dist-packages (2.8.6)

In [3]:
#@title Import Project  Dependencies { display-mode: "code" }
import requests
import datetime
import time
import json
from google.colab import data_table
import plotly.graph_objects as go
import pandas as pd
import matplotlib.pyplot as plt
from pandas.io.json import json_normalize
import logging
import sys
from tqdm.notebook import tqdm
import tweepy
import os
import sqlite3 as sq
import psycopg2 as pg
import configparser
from sqlalchemy import create_engine

## Create PostgreSQL Environment
 not finished

In [4]:

#@title Install Libraries { display-mode: "code" }
# Install postgresql server
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start

 * Starting PostgreSQL 10 database server
   ...done.

In [5]:
#@title Set up database { display-mode: "code" }
# Setup a password `postgres` for username `postgres`
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

# Setup a database with name `tfio_demo` to be used
!sudo -u postgres psql -U postgres -c 'DROP DATABASE IF EXISTS token_ID;'
!sudo -u postgres psql -U postgres -c 'CREATE DATABASE token_ID;'

ALTER ROLE
DROP DATABASE
CREATE DATABASE

### Potential environment variables set up script

In [15]:
"""
%env TFIO_DEMO_DATABASE_NAME=postgres
%env TFIO_DEMO_DATABASE_HOST=localhost
%env TFIO_DEMO_DATABASE_PORT=5432
%env TFIO_DEMO_DATABASE_USER=postgres
%env TFIO_DEMO_DATABASE_PASS=postgres

import os
import tensorflow_io as tfio

endpoint="postgresql://{}:{}@{}?port={}&dbname={}".format(
    os.environ['TFIO_DEMO_DATABASE_USER'],
    os.environ['TFIO_DEMO_DATABASE_PASS'],
    os.environ['TFIO_DEMO_DATABASE_HOST'],
    os.environ['TFIO_DEMO_DATABASE_PORT'],
    os.environ['TFIO_DEMO_DATABASE_NAME'],
)

dataset = tfio.experimental.IODataset.from_sql(
    query="SELECT co, pt08s1 FROM AirQualityUCI;",
    endpoint=endpoint)

print(dataset.element_spec)
"""

env: TFIO_DEMO_DATABASE_NAME=postgres
env: TFIO_DEMO_DATABASE_HOST=localhost
env: TFIO_DEMO_DATABASE_PORT=5432
env: TFIO_DEMO_DATABASE_USER=postgres
env: TFIO_DEMO_DATABASE_PASS=postgres

In [16]:

config_file = "/content/drive/MyDrive/workspace/config.ini"
config_obj = configparser.ConfigParser()
config_obj.read(config_file)

PostgreSQL = config_obj["PostgreSQL"]

host = PostgreSQL["host"]
dbname = PostgreSQL["dbname"]
user = PostgreSQL["user"]
password = PostgreSQL["password"]


conn = pg.connect(host=host, dbname=dbname, user=user, password=password)
cur = conn.cursor()

engine = create_engine('postgresql://{}:{}@{}:5432/{}'.format(user,password,host,dbname))

engine

Engine(postgresql://postgres:***@localhost:5432/postgres)

# Load Twitter Account Names
Dataset: CoinGecko API

In [7]:
#@title Load  Data { display-mode: "code" }
path = '/content/drive/MyDrive/workspace/pipelines/datasets/coingecko/coingecko-coin-list/output/CoinGecko_coins_0-1000.csv'

data = pd.read_csv(path)   
df = pd.DataFrame(data,columns = ['links.twitter_screen_name','id','symbol','name'])
df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (170,1648,1680,1688,1707,1717,1724,1725,1730,1739,1743,1744,1746,1747,1749,1751,1752,1753,1754,1756,1757) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,links.twitter_screen_name,id,symbol,name
0,01CoinTeam,01coin,zoc,01coin
1,NaN,0-5x-long-algorand-token,algohalf,0.5X Long Algorand Token
2,NaN,0-5x-long-altcoin-index-token,althalf,0.5X Long Altcoin Index Token
3,NaN,0-5x-long-ascendex-token-token,asdhalf,0.5X Long AscendEx Token Token
4,NaN,0-5x-long-bitcoin-cash-token,bchhalf,0.5X Long Bitcoin Cash Token

In [8]:
#@title Clean  Data { display-mode: "code" }
df_clean = pd.DataFrame()
df_clean = df.dropna()
df_clean.reset_index(drop=True,inplace=True)
df_clean.head()

  links.twitter_screen_name      id symbol    name
0                01CoinTeam  01coin    zoc  01coin
1                    0cashT   0cash    zch   0cash
2                    0chain  0chain    zcn  0chain
3                 0xproject      0x    zrx      0x
4                    0xcert  0xcert    zxc  0xcert



##  **Create prop_id**: 

Internally generated ID used in certain projects either :


1.   created before we started using the CoinGecko API
2.   when a specific token is not available on the CoinGecko API

We used to refer to the proprietary ID as *Airtable_ID*. The scale of the project increasing beyond Airtable, *prop_id* is now the preferred name

In [9]:

Twitter_df = pd.DataFrame()
Twitter_df['twitter_screen_name'] = df_clean['links.twitter_screen_name']
Twitter_df['CoinGecko_id'] = df_clean['id']

#Create prop_id

symbol = df_clean['symbol'].str.upper()
name = df_clean['name']
Twitter_df['prop_id'] = symbol + '.' + name.str.replace(" ", "")


Twitter_df = Twitter_df.dropna()
Twitter_df.reset_index(drop=True, inplace=True)

Twitter_df.head()

  twitter_screen_name CoinGecko_id     prop_id
0          01CoinTeam       01coin  ZOC.01coin
1              0cashT        0cash   ZCH.0cash
2              0chain       0chain  ZCN.0chain
3           0xproject           0x      ZRX.0x
4              0xcert       0xcert  ZXC.0xcert

## Load IDs Data to DataLake and SQLite Database

In [10]:
file_name = 'token_ID.csv'

In [11]:
#@title Watchlist Project Directory { display-mode: "code" }
path = "/content/drive/MyDrive/workspace/pipelines/datasets/Twitter/Watchlist Daily Update/Output/"

Twitter_df.to_csv(path + file_name)

In [12]:
#@title Twitter IDs Project Directory { display-mode: "code" }
path = "/content/drive/MyDrive/workspace/pipelines/datasets/Twitter/Twitter_IDs/"

Twitter_df.to_csv( path + file_name)

In [23]:
#@title Load Token ID to SQLite { display-mode: "code" }
table = "token_ID"

Twitter_df.to_sql(table, engine, index=False, method='multi') # writes to file

# Save (commit) the changes
#con.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.

df = pd.read_sql('select * from {}'.format(table), engine)

df.head()

ValueError: ignored

# Twitter Extraction

## Establish API Connection

In [ ]:
#Read config.ini file
config_file = "/content/drive/MyDrive/workspace/config.ini"
config_obj = configparser.ConfigParser()
config_obj.read(config_file)

Twitter = config_obj["Twitter_API"]

consumer_key = Twitter["consumer_key"]
consumer_secret = Twitter["consumer_secret"]
access_token = Twitter["access_token"]
access_token_secret = Twitter["access_token_secret"]


auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

api = tweepy.API(auth)

public_tweets = api.user_timeline('CoinbaseAssets')

print('Return sample: '+ str(public_tweets[1]))

## Extract Tweets

In [ ]:
frames = []
tweet_March = []
df = {}

accounts = accounts.tolist()
total_rows = range(len(accounts))


try:
  
  for account in tqdm(accounts):
   # df['Twitter_account'] = str(account)
    try:
      public_tweets = api.user_timeline(account)
    except :
     pass

      
    for tweet in public_tweets:
      df['Twitter_account'] = str(account)
      df['created_at'] = tweet.created_at
      df['tweet_id'] = tweet.id
      df['id_str'] = tweet.id_str
      df['text'] = tweet.text
      df['entities'] = str(tweet.entities)
      print(df)


    #Convert data to list of dataframes
      full_table = pd.json_normalize(df)
    #results = [full_table]
      frames.append(full_table)

  time.sleep(60/50)


except ConnectionError:
    time.sleep(60)

single = pd.concat(frames)  

single.head()

## Explore Extraction

In [ ]:
single.describe()

In [ ]:
single.info()

## Save  Extraction

In [ ]:
file_name = 'tweets_extract.csv'

In [ ]:

path = "/content/drive/MyDrive/workspace/pipelines/datasets/Twitter/Watchlist Daily Update/Output/"

single.to_csv( path + file_name)

In [ ]:
 #@title Watchlist Project Directory { display-mode: "code" }
path = "/content/drive/MyDrive/workspace/pipelines/datasets/Twitter/Watchlist Daily Update/Output/"

single.to_csv(path + file_name)

In [ ]:
#@title Load Token ID to SQLite { display-mode: "code" }

table = "tweets_extract"

single.to_sql(table, conn, if_exists='replace', index=False) # writes to file

# Save (commit) the changes
#con.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.

df = pd.read_sql('select * from {}'.format(table), conn)

df.head()

In [ ]:
conn.close()

# Searching

In [ ]:
# substring to be searched
sub ='Part'
# start var
# creating and passing series to new column
single['uu'] = str(single['text']).find(sub)
i= 1
# display
single.loc[single['uu'] == i]