<a href="https://colab.research.google.com/github/custom-hyper/Analytics/blob/main/DeFi_Lama.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project Setup

In [ ]:
#@title  Install  Packages { display-mode: "code" }
!pip install requests
!pip install json

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
ERROR: Could not find a version that satisfies the requirement json (from versions: none)
ERROR: No matching distribution found for json

In [ ]:
#@title Connect to Drive { display-mode: "code" }
 from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [42]:
#@title  Import Libraries { display-mode: "code" }
import requests
import json
from google.colab import data_table
import sqlite3 as sq
import pandas as pd
import logging
import pandas as pd
import logging
import time
from tqdm.notebook import tqdm
from datetime import datetime
import plotly.graph_objects as go
import matplotlib.pyplot as plt

In [43]:
#@title Connect to SQLite { display-mode: "code" }

path = r'/content/drive/MyDrive/workspace/pipelines/db/'
name = 'db.sqlite'

conn = sq.connect(path + name)

# Data Extraction

Please use  df['slug'] as primary key if loaded into SQL light

## Protocols ID List

In [63]:
#@title Call API { display-mode: "code" }



#General Information table
response = requests.get("https://api.llama.fi/protocols")
output = response.text
DeFi = json.loads(output)
full_talbe = pd.json_normalize(DeFi)
full_talbe['id'] = full_talbe['symbol']  + '.' + full_talbe['name']
full_talbe['id'].replace(' ','')
full_talbe['Notes'] = ''

#UNIX timestamp: created
full_talbe['UNIX'] = int( time.time())



full_talbe.head(1)

,id,name,address,symbol,url,description,chain,logo,audits,audit_note,...,chainTvls.Metis-pool2,chainTvls.Harmony-Treasury,chainTvls.Metis-Treasury,chainTvls.Velas-staking,chainTvls.Celo-Treasury,chainTvls.Proton-staking,chainTvls.Proton-borrowed,chainTvls.Ergo-staking,Notes,UNIX
0,CRV.Curve,Curve,0xD533a949740bb3306d119CC777fa900bA034cd52,CRV,https://curve.fi,Curve is a decentralized exchange liquidity po...,Multi-Chain,https://icons.llama.fi/curve.png,2,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,1649819715

In [65]:
#@title Save To Directory{ display-mode: "code" }
sfile = "deFi_lama_id"
path = "/content/drive/MyDrive/workspace/pipelines/datasets/defi_lama/output/"
full_talbe.to_csv(path + sfile)

In [67]:
#@title Load to SQLite { display-mode: "code" }

table = sfile

full_talbe.to_sql(table, conn , if_exists='replace', index=False) # writes to file

 # Test Connection
df = pd.read_sql('select * from {}'.format(table), conn)

df.head()

InterfaceError: ignored

In [68]:
#@title Show Stats { display-mode: "code" }
full_talbe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1482 entries, 0 to 1481
Columns: 300 entries, id to UNIX
dtypes: float64(274), int64(1), object(25)
memory usage: 3.4+ MB

 ## TVL Timeseries

In [32]:
#@title Call API  { display-mode: "code" }

#General Information table
response = requests.get("https://api.llama.fi/protocols")
output = response.text
table = json.loads(output)
df = pd.json_normalize(table)
slug = df['slug'][:3]

path = "https://api.llama.fi/protocol/"
frames = []


try:
  for i in tqdm(slug):
    response = requests.get(path + i)
    output = response.text
    DeFi = json.loads(output)

    full_table = pd.json_normalize(DeFi['tvl']) 
    full_table['slug'] = i
    

    #results = [full_table]
    frames.append(full_table)

    #Slow down requests
    
    time.sleep(60/50)
    #Status report
    
    
except ConnectionError:
    time.sleep(60)


single = pd.concat(frames) #Careful, this line must be outside of the for loop
#single['date_Standard']  = datetime.fromtimestamp(time).strftime('%Y-%m-%d')


single.head()

NameError: ignored

In [58]:
#@title Save To Directory{ display-mode: "code" }
sfile = "deFi_lama_tvl"
path = "/content/drive/MyDrive/workspace/pipelines/datasets/defi_lama/output/"
single.to_csv(path + sfile)

In [59]:
#@title Load to SQLite { display-mode: "code" }

table = "deFi_lama_tvl"

single.to_sql(table, conn , if_exists='replace', index=False) # writes to file

 # Test Connection
df = pd.read_sql('select * from {}'.format(table), conn)

df.head()

         date  totalLiquidityUSD   slug
0  1581206400       1.163733e+06  curve
1  1581292800       1.372110e+06  curve
2  1581379200       9.607534e+05  curve
3  1581465600       1.006408e+06  curve
4  1581552000       1.258776e+06  curve

In [28]:
#@title Show Stats { display-mode: "code" }
single.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1632 entries, 0 to 356
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               1632 non-null   int64
 1   totalLiquidityUSD  1632 non-null   float64
 2   slug               1632 non-null   object
dtypes: float64(1), int64(1), object(1)
memory usage: 51.0+ KB

In [23]:
conn.close()

## Protocol General Information Data

In [31]:
#@title Call API  { display-mode: "code" }


#General Information table
response = requests.get("https://api.llama.fi/protocols")
output = response.text
DeFi = json.loads(output)
full_talbe = pd.json_normalize(DeFi)
full_talbe['id'] = full_talbe['symbol']  + '.' + full_talbe['name']
full_talbe['id'].replace(' ','')
full_talbe['Notes'] = ''

#UNIX timestamp: created
full_talbe['UNIX'] = int( time.time())



full_talbe.head(1)

,id,name,address,symbol,url,description,chain,logo,audits,audit_note,...,chainTvls.zkSync,chainTvls.zkSync-offers,chainTvls.Metis-pool2,chainTvls.Harmony-Treasury,chainTvls.Metis-Treasury,chainTvls.Velas-staking,chainTvls.Celo-Treasury,chainTvls.Ergo-staking,Notes,UNIX
0,CRV.Curve,Curve,0xD533a949740bb3306d119CC777fa900bA034cd52,CRV,https://curve.fi,Curve is a decentralized exchange liquidity po...,Multi-Chain,https://icons.llama.fi/curve.png,2,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,1649818205

In [60]:
 #@title Save To Directory{ display-mode: "code" }
 
table = "deFi_lama_general"
path = "/content/drive/MyDrive/workspace/pipelines/datasets/defi_lama/output/"
full_talbe.to_csv(path+ table)

In [50]:
@title Dataset Stats { display-mode: "code" }
full_talbe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1482 entries, 0 to 1481
Columns: 300 entries, id to UNIX
dtypes: float64(274), int64(1), object(25)
memory usage: 3.4+ MB

In [61]:
#@title Load to SQLite { display-mode: "code" }

full_talbe.to_sql(table, conn , if_exists='replace', index=False) # writes to file

 # Test Connection
df = pd.read_sql('select * from {}'.format(table), conn)

df.head()

InterfaceError: ignored

In [49]:
full_talbe.describe()

,tvl,change_1h,change_1d,change_7d,staking,fdv,mcap,chainTvls.Optimism,chainTvls.Avalanche,chainTvls.Harmony,...,chainTvls.Arbitrum-offers,chainTvls.zkSync,chainTvls.zkSync-offers,chainTvls.Metis-pool2,chainTvls.Harmony-Treasury,chainTvls.Metis-Treasury,chainTvls.Velas-staking,chainTvls.Celo-Treasury,chainTvls.Ergo-staking,UNIX
count,1.482000e+03,1292.000000,1267.000000,1250.000000,6.770000e+02,6.300000e+02,1.037000e+03,3.100000e+01,1.920000e+02,5.000000e+01,...,1.0,1.0,1.000000,3.000000e+00,1.000000,1.000000,2.000000e+00,1.0,1.000000e+00,1.482000e+03
mean,1.682046e+08,-0.068228,16.302724,565.950765,3.231039e+07,1.206910e+12,9.640125e+07,1.445945e+07,5.715993e+07,1.437001e+07,...,1.0,0.0,314672.090376,1.165436e+06,0.000479,1649.659486,5.946350e+06,0.0,8.657726e+06,1.649818e+09
std,1.143884e+09,9.722319,343.729155,18222.868136,3.024581e+08,2.811855e+13,6.229204e+08,3.218974e+07,2.545235e+08,4.257735e+07,...,NaN,NaN,NaN,1.982012e+06,NaN,NaN,7.369549e+06,NaN,NaN,0.000000e+00
min,0.000000e+00,-100.000000,-100.000000,-100.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.0,0.0,314672.090376,1.199671e+04,0.000479,1649.659486,7.352925e+05,0.0,8.657726e+06,1.649818e+09
25%,2.198746e+04,-0.214717,0.000000,-13.923172,2.974539e+03,2.196857e+06,0.000000e+00,1.220315e+05,3.147269e+02,3.245448e+04,...,1.0,0.0,314672.090376,2.113247e+04,0.000479,1649.659486,3.340822e+06,0.0,8.657726e+06,1.649818e+09
50%,1.264605e+06,-0.000003,0.948617,-8.452990,2.125460e+05,2.660364e+07,6.899290e+05,1.437414e+06,2.013976e+05,2.126428e+05,...,1.0,0.0,314672.090376,3.026822e+04,0.000479,1649.659486,5.946350e+06,0.0,8.657726e+06,1.649818e+09
75%,1.917017e+07,0.100000,2.374985,-0.960578,2.852915e+06,1.404797e+08,1.431818e+07,1.027160e+07,3.060992e+06,5.155996e+06,...,1.0,0.0,314672.090376,1.742155e+06,0.000479,1649.659486,8.551879e+06,0.0,8.657726e+06,1.649818e+09
max,2.020057e+10,291.448423,9840.839377,642640.859062,7.292257e+09,7.043142e+14,1.100408e+10,1.678286e+08,2.653505e+09,2.266821e+08,...,1.0,0.0,314672.090376,3.454042e+06,0.000479,1649.659486,1.115741e+07,0.0,8.657726e+06,1.649818e+09

In [ ]:
#@title Dataset Stats { display-mode: "code" }
full_talbe.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 297 columns):
 #    Column                            Dtype
---   ------                            -----
 0    id                                object
 1    name                              object
 2    address                           object
 3    symbol                            object
 4    url                               object
 5    description                       object
 6    chain                             object
 7    logo                              object
 8    audits                            object
 9    audit_note                        object
 10   gecko_id                          object
 11   cmcId                             object
 12   category                          object
 13   chains                            object
 14   module                            object
 15   twitter                           object
 16   audit_links                       object
 17   oracles                           object
 18   language                          object
 19   slug                              object
 20   tvl                               float64
 21   change_1h                         float64
 22   change_1d                         float64
 23   change_7d                         float64
 24   staking                           float64
 25   fdv                               float64
 26   mcap                              float64
 27   chainTvls.Optimism                float64
 28   chainTvls.Avalanche               float64
 29   chainTvls.Harmony                 float64
 30   chainTvls.Moonbeam                float64
 31   chainTvls.Ethereum                float64
 32   chainTvls.xDai                    float64
 33   chainTvls.Ethereum-staking        float64
 34   chainTvls.Polygon                 float64
 35   chainTvls.Arbitrum                float64
 36   chainTvls.Fantom                  float64
 37   chainTvls.staking                 float64
 38   openSource                        object
 39   chainTvls.Moonriver               float64
 40   chainTvls.Solana                  float64
 41   chainTvls.Terra                   float64
 42   chainTvls.Terra-borrowed          float64
 43   chainTvls.borrowed                float64
 44   pool2                             float64
 45   chainTvls.pool2                   float64
 46   chainTvls.Polygon-borrowed        float64
 47   chainTvls.Ethereum-pool2          float64
 48   chainTvls.Ethereum-borrowed       float64
 49   chainTvls.Avalanche-borrowed      float64
 50   chainTvls.OKExChain               float64
 51   chainTvls.Kucoin                  float64
 52   chainTvls.Binance                 float64
 53   chainTvls.Heco                    float64
 54   chainTvls.Syscoin                 float64
 55   chainTvls.Telos                   float64
 56   forkedFrom                        object
 57   chainTvls.Binance-staking         float64
 58   listedAt                          float64
 59   chainTvls.xDai-borrowed           float64
 60   chainTvls.Celo                    float64
 61   chainTvls.Fuse                    float64
 62   chainTvls.Arbitrum-borrowed       float64
 63   chainTvls.Binance-borrowed        float64
 64   chainTvls.Palm                    float64
 65   chainTvls.Fantom-borrowed         float64
 66   chainTvls.Oasis                   float64
 67   chainTvls.Ethereum-Treasury       float64
 68   chainTvls.Treasury                float64
 69   chainTvls.Tron                    float64
 70   chainTvls.Tron-pool2              float64
 71   chainTvls.Waves                   float64
 72   chainTvls.Osmosis                 float64
 73   chainTvls.Avalanche-staking       float64
 74   chainTvls.Cronos                  float64
 75   chainTvls.Cronos-staking          float64
 76   chainTvls.Avalanche-pool2         float64
 77   chainTvls.Metis                   float64
 78   chainTvls.Celo-staking            float64
 79   chainTvls.Harmony-staking         float64
 80   chainTvls.Fuse-staking            float64
 81   chainTvls.Fantom-staking          float64
 82   chainTvls.Moonriver-staking       float64
 83   chainTvls.Moonbeam-staking        float64
 84   chainTvls.Aurora-staking          float64
 85   chainTvls.Arbitrum-staking        float64
 86   chainTvls.Heco-staking            float64
 87   chainTvls.Aurora                  float64
 88   chainTvls.Metis-staking           float64
 89   chainTvls.Polygon-staking         float64
 90   chainTvls.DefiChain               float64
 91   chainTvls.Waves-borrowed          float64
 92   chainTvls.Klaytn-staking          float64
 93   chainTvls.Klaytn                  float64
 94   chainTvls.Terra-pool2             float64
 95   chainTvls.Astar                   float64
 96   chainTvls.Boba                    float64
 97   chainTvls.Solana-borrowed         float64
 98   chainTvls.Clover                  float64
 99   chainTvls.Shiden                  float64
 100  chainTvls.Conflux                 float64
 101  chainTvls.Milkomeda               float64
 102  chainTvls.Rei                     float64
 103  chainTvls.Parallel                float64
 104  chainTvls.Elrond-staking          float64
 105  chainTvls.Elrond                  float64
 106  chainTvls.Stacks                  float64
 107  chainTvls.Terra-staking           float64
 108  chainTvls.Cronos-borrowed         float64
 109  chainTvls.Thorchain-staking       float64
 110  chainTvls.Thorchain               float64
 111  chainTvls.Fantom-pool2            float64
 112  chainTvls.Kava                    float64
 113  chainTvls.Mixin                   float64
 114  chainTvls.Aurora-borrowed         float64
 115  chainTvls.Binance-pool2           float64
 116  chainTvls.Heco-pool2              float64
 117  chainTvls.DFK-staking             float64
 118  chainTvls.DFK                     float64
 119  chainTvls.Ronin                   float64
 120  chainTvls.Tron-staking            float64
 121  chainTvls.Near-staking            float64
 122  chainTvls.Near                    float64
 123  chainTvls.Solana-staking          float64
 124  chainTvls.Harmony-pool2           float64
 125  chainTvls.Harmony-borrowed        float64
 126  chainTvls.Theta                   float64
 127  chainTvls.Kava-borrowed           float64
 128  chainTvls.Fusion                  float64
 129  chainTvls.Moonriver-borrowed      float64
 130  chainTvls.Velas                   float64
 131  chainTvls.Kusama                  float64
 132  chainTvls.Polkadot                float64
 133  chainTvls.Bitcoin                 float64
 134  chainTvls.Astar-borrowed          float64
 135  chainTvls.Cardano                 float64
 136  chainTvls.EOS                     float64
 137  chainTvls.Ultra                   float64
 138  chainTvls.IoTeX                   float64
 139  chainTvls.Sifchain                float64
 140  chainTvls.Algorand-borrowed       float64
 141  chainTvls.Algorand                float64
 142  chainTvls.Algorand-staking        float64
 143  chainTvls.NEO                     float64
 144  chainTvls.Arbitrum-pool2          float64
 145  chainTvls.RSK                     float64
 146  chainTvls.Godwoken                float64
 147  chainTvls.Godwoken-staking        float64
 148  chainTvls.OKExChain-staking       float64
 149  chainTvls.Ontology                float64
 150  chainTvls.Ontology-staking        float64
 151  chainTvls.Wax                     float64
 152  chainTvls.Bonding                 float64
 153  chainTvls.Klaytn-Bonding          float64
 154  chainTvls.Icon                    float64
 155  chainTvls.Elastos-borrowed        float64
 156  chainTvls.Elastos                 float64
 157  chainTvls.IoTeX-borrowed          float64
 158  chainTvls.Heco-borrowed           float64
 159  chainTvls.Celo-borrowed           float64
 160  chainTvls.Cosmos                  float64
 161  chainTvls.Kucoin-staking          float64
 162  chainTvls.Polygon-pool2           float64
 163  chainTvls.Binance-Treasury        float64
 164  chainTvls.Secret                  float64
 165  chainTvls.Optimism-borrowed       float64
 166  chainTvls.Metis-borrowed          float64
 167  chainTvls.Cronos-pool2            float64
 168  chainTvls.Everscale               float64
 169  chainTvls.Songbird                float64
 170  chainTvls.Songbird-staking        float64
 171  chainTvls.Oasis-borrowed          float64
 172  chainTvls.OKExChain-borrowed      float64
 173  chainTvls.Tezos                   float64
 174  chainTvls.Wanchain                float64
 175  chainTvls.Stellar                 float64
 176  chainTvls.Zilliqa                 float64
 177  chainTvls.Sora                    float64
 178  chainTvls.Proton-staking          float64
 179  chainTvls.Proton-borrowed         float64
 180  chainTvls.Proton                  float64
 181  chainTvls.Nuls                    float64
 182  chainTvls.VeChain                 float64
 183  chainTvls.Cardano-staking         float64
 184  chainTvls.smartBCH                float64
 185  chainTvls.Kusuma                  float64
 186  chainTvls.Karura                  float64
 187  chainTvls.Kardia                  float64
 188  chainTvls.smartBCH-masterchef     float64
 189  chainTvls.masterchef              float64
 190  chainTvls.smartBCH-staking        float64
 191  chainTvls.Binance-masterchef      float64
 192  chainTvls.Vite                    float64
 193  chainTvls.Hoo                     float64
 194  audit                             object
 195  chainTvls.Tezos-pool2             float64
 196  chainTvls.Boba-staking            float64
 197  chainTvls.Optimism-staking        float64
 198  chainTvls.Oasis-staking           float64
 199  chainTvls.xDai-staking            float64
 200  chainTvls.Conflux-staking         float64
 201  chainTvls.Energi                  float64
 202  chainTvls.Ethereum-masterchef     float64
 203  chainTvls.Kadena-staking          float64
 204  chainTvls.Kadena                  float64
 205  chainTvls.CSC                     float64
 206  chainTvls.Callisto                float64
 207  chainTvls.Boba-borrowed           float64
 208  chainTvls.Meter                   float64
 209  chainTvls.ThunderCore             float64
 210  chainTvls.TomoChain               float64
 211  chainTvls.Elastos-staking         float64
 212  chainTvls.Nahmii                  float64
 213  chainTvls.CSC-borrowed            float64
 214  chainTvls.Polygon-Treasury        float64
 215  chainTvls.Ergo                    float64
 216  chainTvls.Tezos-staking           float64
 217  chainTvls.Arbitrum-Treasury       float64
 218  chainTvls.IoTeX-staking           float64
 219  chainTvls.IoTeX-pool2             float64
 220  chainTvls.EnergyWeb               float64
 221  chainTvls.OKExChain-masterchef    float64
 222  chainTvls.OKExChain-pool2         float64
 223  chainTvls.Avalanche-Treasury      float64
 224  chainTvls.Kardia-staking          float64
 225  chainTvls.Lamden                  float64
 226  chainTvls.ThunderCore-borrowed    float64
 227  chainTvls.Fantom-masterchef       float64
 228  chainTvls.Fuse-borrowed           float64
 229  chainTvls.Solana-pool2            float64
 230  chainTvls.Bittorrent              float64
 231  chainTvls.Fuse-Treasury           float64
 232  chainTvls.Stacks-staking          float64
 233  chainTvls.Avalanche-masterchef    float64
 234  chainTvls.Harmony-masterchef      float64
 235  chainTvls.Polygon-masterchef      float64
 236  chainTvls.Cronos-masterchef       float64
 237  chainTvls.Moonbeam-pool2          float64
 238  chainTvls.Moonbeam-masterchef     float64
 239  chainTvls.Curio                   float64
 240  chainTvls.XDC                     float64
 241  chainTvls.Ubiq                    float64
 242  chainTvls.Astar-staking           float64
 243  chainTvls.Shiden-staking          float64
 244  chainTvls.Optimism-pool2          float64
 245  chainTvls.EthereumClassic         float64
 246  chainTvls.Moonriver-pool2         float64
 247  chainTvls.xDai-pool2              float64
 248  chainTvls.ZYX                     float64
 249  chainTvls.Cronos-Treasury         float64
 250  chainTvls.Polis                   float64
 251  chainTvls.Aurora-pool2            float64
 252  chainTvls.Kucoin-pool2            float64
 253  audits_link                       object
 254  chainTvls.HPB                     float64
 255  chainTvls.Terra-Treasury          float64
 256  chainTvls.Boba-pool2              float64
 257  chainTvls.GoChain                 float64
 258  chainTvls.CSC-staking             float64
 259  chainTvls.Heco-Treasury           float64
 260  chainTvls.Milkomeda-masterchef    float64
 261  chainTvls.Milkomeda-pool2         float64
 262  chainTvls.Milkomeda-staking       float64
 263  chainTvls.Liquidchain             float64
 264  chainTvls.Fantom-Treasury         float64
 265  chainTvls.xDai-offers             float64
 266  chainTvls.Avalanche-offers        float64
 267  chainTvls.offers                  float64
 268  chainTvls.Heco-offers             float64
 269  chainTvls.OKExChain-offers        float64
 270  chainTvls.Songbird-offers         float64
 271  chainTvls.Harmony-offers          float64
 272  chainTvls.Kucoin-offers           float64
 273  chainTvls.Fantom-offers           float64
 274  chainTvls.Binance-offers          float64
 275  chainTvls.EthereumClassic-offers  float64
 276  chainTvls.Celo-offers             float64
 277  chainTvls.TomoChain-offers        float64
 278  chainTvls.GoChain-offers          float64
 279  chainTvls.Ethereum-offers         float64
 280  chainTvls.EnergyWeb-offers        float64
 281  chainTvls.RSK-offers              float64
 282  chainTvls.Moonriver-offers        float64
 283  chainTvls.HPB-offers              float64
 284  chainTvls.Polygon-offers          float64
 285  chainTvls.smartBCH-offers         float64
 286  chainTvls.Arbitrum-offers         float64
 287  chainTvls.zkSync                  float64
 288  chainTvls.zkSync-offers           float64
 289  chainTvls.Metis-pool2             float64
 290  chainTvls.Harmony-Treasury        float64
 291  chainTvls.Metis-Treasury          float64
 292  chainTvls.Velas-staking           float64
 293  chainTvls.Celo-Treasury           float64
 294  chainTvls.Ergo-staking            float64
 295  Notes                             object
 296  UNIX                              int64
dtypes: float64(271), int64(1), object(25)
memory usage: 3.3+ MB

 ## Total Combined TVL

In [55]:
  #@title API call { display-mode: "code" }
import requests
import datetime
import time
import json
from google.colab import data_table

import plotly.graph_objects as go
import pandas as pd
import matplotlib.pyplot as plt

path = "https://api.llama.fi/charts"
#slug = 'aave' 
#General Information table
response = requests.get(path)
output = response.text
DeFi = json.loads(output)
totalLiq_talbe = pd.json_normalize(DeFi)
totalLiq_talbe.head()

         date  totalLiquidityUSD
0  1541203200       34684.037747
1  1541289600       41292.993049
2  1541376000       41550.309965
3  1541462400       43233.560074
4  1541548800      153862.566498

In [56]:
 #@title Save To DeFi Lama Dataset Directory{ display-mode: "code" }
 
table = "deFi_lama_total_TVL"
path = "/content/drive/MyDrive/workspace/pipelines/datasets/defi_lama/output/"
totalLiq_talbe.to_csv(path+ table)

In [57]:
#@title Load General Information Data to SQLite { display-mode: "code" }


totalLiq_talbe.to_sql(table, conn , if_exists='replace', index=False) # writes to file

 # Test Connection
df = pd.read_sql('select * from {}'.format(table), conn)

df.head()

         date  totalLiquidityUSD
0  1541203200       34684.037747
1  1541289600       41292.993049
2  1541376000       41550.309965
3  1541462400       43233.560074
4  1541548800      153862.566498

# Feature Engineering